{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}
<header>
    <h1>{{name}}</h1>
    <p>{{#if website}}<a
            href="{{website}}">{{website}}</a>。{{/if}}{{#if location}}{{location}}。{{/if}}{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
    </p>
    {{#if bio}}<p>{{bio}}</p>{{/if}}
</header>
{{/author}}

<div>
    {{#foreach posts}}
    {{> "post-list-item"}}
    {{/foreach}}
</div>