<!DOCTYPE html>
<html lang="{{@blog.lang}}" class="container">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="//cdn.staticfile.org/prism/9000.0.1/themes/prism.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/index.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <div class="row">
        <header class="column column-10">
            {{navigation}}
        </header>

        <main class="column column-90">

            {{{body}}}

            <footer>
                <p>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> - {{@blog.description}}</p>
                <p>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> | Theme by <a
                        href="https://github.com/Windfarer/siro" target="_blank" rel="noopener">siro</a></p>
            </footer>
        </main>


    </div>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/pangu/4.0.7/pangu.min.js"></script>
    <script>
        pangu.spacingElementByTagName('main');
    </script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/prism.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-python.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-go.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-rust.min.js"></script>

    <script>
        if (window.ga_id) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', window.ga_id, 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');
        };

        var disqus_shortname;
        if (disqus_shortname && typeof disqus_shortname === "string") {
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq_cnt = document.createElement('script'); dsq_cnt.type = 'text/javascript'; dsq_cnt.async = true;
                dsq_cnt.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq_cnt);
            })();
        };
    </script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>