<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="//cdn.staticfile.org/prism/9000.0.1/themes/prism.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/index.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <div>
        <header>
            <h1>{{@site.title}}</h1>
            <h2 class="site-description">{{@site.description}}</h2>
            <nav>
                {{navigation}}
            </nav>
        </header>

        <main>

            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}

        </main>

        {{!-- The footer at the very bottom of the screen --}}
        <footer>
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &mdash; Published with <a
                href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </footer>

    </div>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/prism.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-python.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-go.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/prism/9000.0.1/components/prism-rust.min.js"></script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>