{{!< default}}

<header>
    <h1>{{code}}</h1>
    <p>{{message}}</p>
    <a href="{{@site.url}}">Go to the front page →</a>
</header>

{{#if errorDetails}}
<div>
    <section>
        <h3>Theme errors</h3>
        <ul>
            {{#each errorDetails}}
            <li>
                <em>{{{rule}}}</em>

                {{#each failures}}
                <p><span>Ref: {{ref}}</span></p>
                <p><span>Message: {{message}}</span></p>
                {{/each}}
            </li>
            {{/each}}
        </ul>
    </section>
</div>
{{/if}}